<?xml version="1.0" encoding="utf-8"?>
<Patch>

	<Operation Class="XmlExtensions.UseSetting">
		<modId>MaleMoyo</modId>
		<key>MaleMoyoProbSlider</key>
		<defaultValue>0.5</defaultValue>
		<apply>
			<Operation Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Alien_Moyo"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>{MaleMoyoProbSlider}</maleGenderProbability>
				</value>
			</Operation>
		</apply>
	</Operation>

</Patch>